* {
    margin: 10px;
}

/*body nav{ 
    text-align: center;
} */

.vinculos{
    background: linear-gradient(rgb(146, 8, 146) black);
    flex-grow: 1;
    margin-bottom: 20px;
}

.backgroundHome {
    background-image: url(../images/link.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}